<div style="width: 100%; height: 100%; padding: 20px;">

    <div class="row" style="width: 100%; padding: 10px;">
        <div class="col" style="border: 1px solid black;">
            <div class="row"
                style="background-color: #FBF0F0 ; display: flex; justify-content: center; align-items: center;">
                RAM - OPT
            </div>
            <div class="row">
                <div class="col" *ngFor="let col of columns; let i = index"
                    style="height: 20px; border: 1px solid black; padding: 0;">

                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%; padding: 10px;">
        <div class="col" style="border: 1px solid black;">
            <div class="row"
                style="background-color: #FBF0F0; display: flex; justify-content: center; align-items: center; ">
                RAM - [ALG]
            </div>

            <div class="row">
                <div class="col" *ngFor="let col of columns; let i = index"
                    style="height: 20px; border: 1px solid black; padding: 0;">

                </div>
            </div>
        </div>
    </div>


    <div class="row" style="width: 100%; ">

        <div class="col" style="margin: 10px;">

            <div class="row"
                style="background-color: #8F828D; color:white;display: flex; justify-content: center; align-items: center;">
                MMU - OPT
            </div>
            <div class="row">
                <div class="col" style="border: 1px solid black;text-align: center;">
                    PAGE ID
                </div>
                <div class="col" style="border: 1px solid black;text-align: center;">
                    PID
                </div>
                <div class="col" style="border: 1px solid black;text-align: center;">
                    LOADED
                </div>
                <div class="col" style="border: 1px solid black;text-align: center;">
                    L-ADDR
                </div>
                <div class="col" style="border: 1px solid black;text-align: center;">
                    M-ADDR
                </div>
                <div class="col" style="border: 1px solid black;text-align: center;">
                    D-ADDR
                </div>
                <div class="col" style="border: 1px solid black;text-align: center;">
                    LOADED-T
                </div>
                <div class="col" style="border: 1px solid black;text-align: center;">
                    MARK
                </div>
            </div>

            <div class="row">
              <!----TABLA MMU OPT-->
              <div style="height:200px; overflow-y: scroll; scrollbar-width: none; -ms-overflow-style: none;">
                <div *ngFor="let dato of alldataMMUOPT" class="row" style="background-color: black;">
                  <ng-container *ngIf="isColorArray(dato[1])">
                    <div *ngFor="let page of dato.slice(2)" class="row" [style.backgroundColor]="'rgb(' + dato[1][0] + ',' + dato[1][1] + ',' + dato[1][2] + ')'" style="padding: 0%; margin: 0%;">
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center;">
                        {{ page.pageId }}
                      </div>
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center; width: 100%;">
                        {{ dato[0] }}
                      </div>
                      <div *ngIf="isPage(page) && page.positionFlag === true; else positionfalse" class="col" style="border: 1px solid black; text-align: center;">
                        X
                      </div>
                      <ng-template #positionfalse>
                        <div class="col" style="border: 1px solid black; text-align: center;"></div>
                      </ng-template>
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center;">
                        LDDR
                      </div>
                      <div *ngIf="isPage(page) && page.positionFlag; else positionfalseNEW" class="col" style="border: 1px solid black; text-align: center;">
                        {{ page.physicalAddress }}
                      </div>
                      <ng-template #positionfalseNEW>
                        <div class="col" style="border: 1px solid black; text-align: center;">
                          0
                        </div>
                      </ng-template>
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center;">
                        col6
                      </div>
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center;">
                        {{ page.timestamp }}s
                      </div>
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center;">
                        1
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>


        </div>

        <div class="col" style="margin: 10px;">

            <div class="row"
                style="background-color: #8F828D; color:white; display: flex; justify-content: center; align-items: center;">
                MMU - [ALG]
            </div>
            <div class="row">
                <div class="col" style="border: 1px solid black; text-align: center;">
                    PAGE ID
                </div>
                <div class="col" style="border: 1px solid black; text-align: center;">
                    PID
                </div>
                <div class="col" style="border: 1px solid black; text-align: center;">
                    LOADED
                </div>
                <div class="col" style="border: 1px solid black; text-align: center;">
                    L-ADDR
                </div>
                <div class="col" style="border: 1px solid black; text-align: center;">
                    M-ADDR
                </div>
                <div class="col" style="border: 1px solid black; text-align: center;">
                    D-ADDR
                </div>
                <div class="col" style="border: 1px solid black; text-align: center;">
                    LOADED-T
                </div>
                <div class="col" style="border: 1px solid black; text-align: center;">
                    MARK
                </div>
            </div>

            <div class="row">
              <!----TABLA MMU NORMAL-->
              <div style="height:200px; overflow-y: scroll; scrollbar-width: none; -ms-overflow-style: none;">
                <div *ngFor="let dato of alldataMMUNormal" class="row" style="background-color: black;">
                  <ng-container *ngIf="isColorArray(dato[1])">
                    <div *ngFor="let page of dato.slice(2)" class="row" [style.backgroundColor]="'rgb(' + dato[1][0] + ',' + dato[1][1] + ',' + dato[1][2] + ')'" style="padding: 0%; margin: 0%;">
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center;">
                        {{ page.pageId }}
                      </div>
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center; width: 100%;">
                        {{ dato[0] }}
                      </div>
                      <div *ngIf="isPage(page) && page.positionFlag === true; else positionfalse" class="col" style="border: 1px solid black; text-align: center;">
                        X
                      </div>
                      <ng-template #positionfalse>
                        <div class="col" style="border: 1px solid black; text-align: center;"></div>
                      </ng-template>
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center;">
                        LDDR
                      </div>
                      <div *ngIf="isPage(page) && page.positionFlag; else positionfalseNEW" class="col" style="border: 1px solid black; text-align: center;">
                        {{ page.physicalAddress }}
                      </div>
                      <ng-template #positionfalseNEW>
                        <div class="col" style="border: 1px solid black; text-align: center;">
                          0
                        </div>
                      </ng-template>
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center;">
                        col6
                      </div>
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center;">
                        {{ page.timestamp }}s
                      </div>
                      <div *ngIf="isPage(page)" class="col" style="border: 1px solid black; text-align: center;">
                        1
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>


      </div>
    </div>


  <!----TABLA ABAJO MMU OPT-->
    <div class="row" style="width: 100%; padding: 10px;">

        <div class="col" style="width: 100%; height: 100%; padding: 0px 40px 0px 40px">

            <div class="row " style="margin: 5px;">
                <div class="col">
                    <div class="row"
                        style="border: 1px solid black;display: flex; justify-content: center; align-items: center;">
                        Processes
                    </div>
                    <div class="row"
                        style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                        {{dataNumProcess[0]}}
                    </div>
                </div>
                <div class="col">
                    <div class="row"
                        style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                        Sim-time
                    </div>
                    <div class="row"
                        style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                        {{simTime[0]}}
                    </div>
                </div>
            </div>


            <div class="row " style="margin: 5px;">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                RAM Kb
                            </div>
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                {{ramUsedKB[0]}}
                            </div>

                        </div>
                        <div class="col">
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                RAM %
                            </div>
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                {{ramPercentage[0]}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                V-RAM KB
                            </div>
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                {{vramUsedKB[0]}}
                            </div>

                        </div>
                        <div class="col">
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                V-RAM %
                            </div>
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                {{vramPercentage[0]}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row " style="margin: 5px;">
                <div class="col" style="width: 100%;height: 100%;">
                    <div class="row"
                        style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                        PAGES
                    </div>
                    <div class="row" style="height: 100%;">
                        <div class="col" style="height: 100%;">
                            <div class="row"
                                style="border: 1px solid black; height: 100%; display: flex; justify-content: center; align-items: center;">
                                LOADED
                            </div>
                            <div class="row"
                                style="border: 1px solid black; height: 100%;display: flex; justify-content: center; align-items: center;">
                                {{dataRam[0]}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                UNLOADED
                            </div>
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                {{dataRam[2]}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="width: 100%;height: 100%; color: black;">
                    <div class="row"
                        style="border: 1px solid black; height: 100%;display: flex; justify-content: center; align-items: center;text-align: center;">
                        <strong>Trashing</strong>
                    </div>
                    <div class="row" style="height: 100%;">
                        <div class="col"
                            style="border: 1px solid black;height: 100%; display: flex; justify-content: center; align-items: center;">
                            <strong>{{trashingTime[0]}}</strong>
                        </div>
                        <div class="col" style="border: 1px solid black; height: 100%; display: flex; justify-content: center; align-items: center;"
                            [ngClass]="{'text-danger': trashingPercentage[0] > 50}">
                            <strong>{{ trashingPercentage[0].toFixed(2)}}%</strong>
                        </div>
                    </div>
                </div>

                <div class="col" style="width: 100%;height: 100%;">
                    <div class="row"
                        style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                        Fragmentación
                    </div>
                    <div class="row"
                        style="border: 1px solid black; height: 100%; display: flex; justify-content: center; align-items: center;">
                        {{fragmentation[0]}}
                    </div>
                </div>
            </div>

        </div>


  <!----TABLA ABAJO MMU NORMAL-->

        <div class="col" style="width: 100%; height: 100%; padding: 0px 40px 0px 40px">

            <div class="row " style="margin: 5px;">
                <div class="col">
                    <div class="row"
                        style="border: 1px solid black;display: flex; justify-content: center; align-items: center;">
                        Processes
                    </div>
                    <div class="row"
                        style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                        {{dataNumProcess[1]}}
                    </div>
                </div>
                <div class="col">
                    <div class="row"
                        style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                        Sim-time
                    </div>
                    <div class="row"
                        style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                        {{simTime[1]}}
                    </div>
                </div>
            </div>


            <div class="row " style="margin: 5px;">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                RAM Kb
                            </div>
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                {{ramUsedKB[1]}}
                            </div>

                        </div>
                        <div class="col">
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                RAM %
                            </div>
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                {{ramPercentage[1]}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                V-RAM KB
                            </div>
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                {{vramUsedKB[1]}}
                            </div>

                        </div>
                        <div class="col">
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                V-RAM %
                            </div>
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                {{vramPercentage[1]}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row " style="margin: 5px;">
                <div class="col" style="width: 100%;height: 100%;">
                    <div class="row"
                        style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                        PAGES
                    </div>
                    <div class="row" style="height: 100%;">
                        <div class="col" style="height: 100%;">
                            <div class="row"
                                style="border: 1px solid black; height: 100%; display: flex; justify-content: center; align-items: center;">
                                LOADED
                            </div>
                            <div class="row"
                                style="border: 1px solid black; height: 100%;display: flex; justify-content: center; align-items: center;">
                                {{dataRam[1]}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                UNLOADED
                            </div>
                            <div class="row"
                                style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                {{dataRam[3]}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="width: 100%;height: 100%; color: black;">
                    <div class="row"
                        style="border: 1px solid black; height: 100%;display: flex; justify-content: center; align-items: center;text-align: center;">
                        <strong>Trashing</strong>
                    </div>
                    <div class="row" style="height: 100%;">
                        <div class="col"
                            style="border: 1px solid black;height: 100%; display: flex; justify-content: center; align-items: center;">
                            <strong>{{trashingTime[1]}}</strong>
                        </div>
                        <div class="col" style="border: 1px solid black; height: 100%; display: flex; justify-content: center; align-items: center;"
                            [ngClass]="{'text-danger': trashingPercentage[1] > 50}">
                            <strong>{{ trashingPercentage[1].toFixed(2)}}%</strong>
                        </div>
                    </div>
                </div>

                <div class="col" style="width: 100%;height: 100%;">
                    <div class="row"
                        style="border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                        Fragmentación
                    </div>
                    <div class="row"
                        style="border: 1px solid black; height: 100%; display: flex; justify-content: center; align-items: center;">
                        {{fragmentation[1]}}
                    </div>
                </div>
            </div>

        </div>


    </div>


    <div style="display: flex; justify-content: center;">
        <button
            style=" width: 100px;height: 30px; border-radius: 20px; border: none; color: white; background-color: #9D9FB2;">
            PAUSAR
        </button>
    </div>

</div>
